@model ArchpointMvcPHR.Models.HeartHistory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HeartHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MedicalProviderId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MedicalProviderId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeartDiseaseDisorder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeartDiseaseDisorder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiagnosisDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiagnosisDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiagnosisStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiagnosisStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateResolved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateResolved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HeartHistoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
