@model ArchpointMvcPHR.Models.EmergencyContact

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmergencyContact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RelationshipToPatient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelationshipToPatient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomePhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EveningPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EveningPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CellPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmerContactEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmerContactEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmerContactStreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmerContactStreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmerContactCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmerContactCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmerContactStateProvince)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmerContactStateProvince)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmerContactZip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmerContactZip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmerContactCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmerContactCountry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
