@model ArchpointMvcPHR.Models.PersonalInfo

@{
    ViewData["Title"] = "Details";
}
<style>
    .row {
        margin-left: 40%;
    }
</style>
<center><h2>Details</h2></center>

<div class="row">
    <h4>PersonalInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleInitial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleInitial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BloodType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BloodType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SocialSecurityNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SocialSecurityNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomePhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CellPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>
    </dl>
</div>
<center>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</center>
