@model ArchpointMvcPHR.Models.DoctorAppointment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DoctorAppointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApptDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApptDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MedicalProviderId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MedicalProviderId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReasonForVisit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReasonForVisit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SymptomComplaint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SymptomComplaint)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FacilityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FacilityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RemindMe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RemindMe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
